{{ template "header" .}}
<div class="flex justify-center flex-col items-center text-center">
    <div class="w-1/2 p-6 bg-red-600 rounded text-white">
        <h1 class="text-2xl m-2">{{.Message.Status}}</h1>
        <p class="text-semibold">{{.Message.Body}}</p>    
    </div>
</div>
{{template "footer" . }}